<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.6/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.8/select.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.8/select.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.8/select.css">
</head>

<body ng-app="App">

    <header>
        <div class="container">
            <div class="logo">
                <img src="img/banner-1.png" alt="" width="230" />
            </div>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Services</li>
                    <li>Products</li>
                    <li>Clients</li>
                </ul>
            </nav>
        </div>
    </header>
    <div ng-controller="CrudCtrl">

        <table>
            <caption>Notification App
                <button type="button" class="btn btn-primary" ng-click="add()">Add New</button>
                <span class="right">
                    <label>Sort By:</label>
                    <select ng-model="SortColumn">  
                        <option value="title">Title</option>  
                        <option value="posted_date">Posted Date</option>  
                        <option value="posted_by">Posted By</option>  
                        </select>
                    <label>Search</label>
                    <input type="text" ng-model="search" />
                </span>
            </caption>

            <thead>
                <tr>
                    <th scope="col">Notification Title</th>
                    <th scope="col">Notification Description</th>
                    <th scope="col">Member's Status</th>
                    <th scope="col">Posted By</th>
                    <th scope="col">Posted Time</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="profile in Profiles | filter: search | orderBy:SortColumn">
                    <td>
                        <input type="text" ng-model="profile.title" ng-show="profile.editable">
                        <span ng-hide="profile.editable">{{ profile.title }}</span>
                    </td>
                    <td>
                        <input type="text" ng-model="profile.description" ng-show="profile.editable">
                        <span ng-hide="profile.editable">{{ profile.description }}</span>
                    </td>
                    <td>
                        <input type="text" ng-model="profile.member_status" ng-show="profile.editable">
                        <span ng-hide="profile.editable">{{ profile.member_status }}</span>
                    </td>
                    <td>
                        <input type="text" ng-model="profile.posted_by" ng-show="profile.editable">
                        <span ng-hide="profile.editable">{{ profile.posted_by }}</span>
                    </td>
                    <td>
                        <input type="text" ng-model="profile.posted_date" ng-show="profile.editable">
                        <span ng-hide="profile.editable">{{ profile.posted_date }}</span>
                    </td>
                    <td>
                        <span ng-click="edit($index)" ng-hide="profile.editable">Edit</span>
                        <span ng-click="save($index)" ng-show="profile.editable">Save</span>
                        <span ng-click="delete($index)"> | Delete</span>
                    </td>

                </tr>

            </tbody>
        </table>

    </div>
    <div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <label for="profile.title">Notification Headline:</label>
                <input type="text" name="Notification" ng-model="profile.title" className="form-control" /><br/>
                <label for=" profile.description ">Notification Description:</label>
                <input type="text " name="Notification Description " ng-model="profile.description" className="form-control " />
                <ul>
                    <li ng-repeat="item in $ctrl.items">
                        <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item['title'] }}</a>
                    </li>
                </ul>
                Selected: <b>{{ $ctrl.selected.item }}</b>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
            </div>
        </script>


        <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>

        <div ng-show="$ctrl.selected">Selection from a modal: {{ $ctrl.selected }}</div>
        <div class="modal-parent">
        </div>
    </div>
</body>

</html>